<app-sidebar>
    <mat-card class="cardWithShadow">
        <mat-card-content class="p-20">
            <mat-card-title class="pb-3 f-s-14 header-title">Warehouse
                Management</mat-card-title>
            <div
                class="d-flex flex-column flex-md-row justify-content-between align-items-md-center">
                <div></div>
                <div>
                    <button mat-raised-button class="me-2 text-white"
                        style="background:#3e76cb ;">
                        Add Warehouse
                    </button>
                    <button mat-raised-button 
                        style="background: #009952;"
                        class="me-2 text-white">
                        Export to Excel
                    </button>
                    <button mat-raised-button
                        color="warn">
                        Export to PDF
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>


    
</app-sidebar>